.widgets{

    width: 500px;
    height: 150px;
    background: #2269ba;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}
.target-widgets {
    display: flex;
    margin-top: 5px;
    width: 500px;

}
.big_widgets{
    width: 165px;
    height: 100px;
    margin-right: 5px;
    background: #16457a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}
.bigger_widgets{
    width: 165px;
    margin-right: 5px;
    background: #16457a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}
.huge_widgets{
    width: 165px;
    background: #16457a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}
.contact {
    width: 500px;
    height: 200px;
    background: #2269ba;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}
