*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    --black-colore: #000;
}
.header {
    border-bottom: 1px solid black;
}
.top_bar {
    height: 80px;
    display: flex;
    justify-content: space-between;

}
.header_logo{
    display: flex;
    align-items: center;
}
.nav_menu{
    display: flex;
    align-items: center;
    column-gap: 22px;
}

.wrapper{
    max-width: 1150px;
    margin: 0 auto;
}


.nav_menu__item a {
    font-size: 16px;
    line-height: 16px;
    color: var(--black-colore);
    text-decoration: none;
}

.nav_buttons{
    margin-left: 5px;
    display: flex;
    column-gap: 27px;
}
.nav_btn{
    height: 52px;
    box-sizing: border-box;
    border-radius: 100px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    padding: 0 25px;
    cursor: pointer;

}
.nav_btn__login{
    border: 1px solid var(--black-colore);
    background: none;
    color: var(--black-colore);
}
.nav_btn__expert{
    background-color: var(--black-colore);
    color: white;
    border: none;
}
.header_wrap__content{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    column-gap: 63px;
}

.header_content__title{
    font-weight: bold;
    font-size: 77px;
    line-height: 83px;
    color: var(--black-colore);
    margin-bottom: 27px;
}
.text{
    font-weight: normal;
    font-size: 20px;
    line-height: 31px;
    color: var(--black-colore);
}

.header_content{
    width: 500px;
    min-width: 500px;
}

.header_content__image{
    flex-grow: 1;
}
header_content__image img{
    width: 100%;
}